body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 40px auto;
    padding: 5px;
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 24px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

button {
    padding: 15px;
    font-size: 20px;
    margin-top: 20px;
}

input {
    width: 30px;
    height: 30px;
    text-align: center;
}

table {
    border-collapse: collapse;
}

input {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 24px;
    border: none;
}

td {
    border: 1px solid #999;
}

td:nth-child(3),
td:nth-child(6) {
    border-right: 5px solid black;
}

tr:nth-child(3) td,
tr:nth-child(6) td {
    border-bottom: 5px solid black;
}

table {
    border: 3px solid black;
}

#vastzettenKnop {
    display: none;
}

#opslaanKnop {
    display: none;
}

#verwijderenKnop {
    display: none;
}

#terugKnop {
    display: none;
}

#toetsenbord {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    max-width: 300px;
    margin: 20px auto;
}

#toetsenbord button {
    height: 60px;
    font-size: 24px;
}

#popupMenu {
    position: absolute;
    display: none;
    background: white;
    border: 1px solid black;
    padding: 5px;
}

#popupMenu button {
    width: 40px;
    height: 40px;
    margin: 2px;
}

#popupMenu {
    position: absolute;
}

#terugKnop,
#vastzettenKnop,
#ontgrendelKnop,
#opslaanKnop,
#verwijderenKnop,
#afrondenKnop {
    width: 60px;
    height: 60px;
    padding: 0;
    margin: 10px 5px;

}

#knoppenBalk {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#sudokuBord h2 {
    text-align: center;
}

#sudokuBord table {
    margin: 0 auto;
}

#sudokuLijst {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#sudokuLijst li {
    border: 1px solid #ddd;
    text-align: center;
    border-bottom: none;
}